h1{
    color: White;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
h2{
    color: White;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
p{
    color: yellow;
    font-family: sans-serif;
}