body{
    background-color: rgb(14, 13, 13);
}
h1{
    color: yellow;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-emphasis: bold;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
h3{
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
}
h4{
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
}
h5{
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
}
h6{
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large; 
}
p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    color:white
}
ol{
    color: white;
}
a:link{
    color: yellow;
}
a:visited{
    color:  chartreuse;
}
a:hover{
    color: white;
}
a:link, a:visited, a:hover{
    text-decoration: none;
    padding: 14px 25px; 
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.techlaw{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: large;
}
.Linkedin{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
}
